<ul class="destaques__categorias___lista">
  <li class="destaques__categorias___item">
    <a class="destaques__categorias___link" href="#">
      <mat-icon>grid_on</mat-icon>
      Aplicativos populares
    </a>
  </li>
  <li class="destaques__categorias___item">
    <a class="destaques__categorias___link" href="#">
      <mat-icon>list</mat-icon>
      <label for="Jogos populares">Jogos populares</label>
    </a>
  </li>
  <li class="destaques__categorias___item">
    <a class="destaques__categorias___link" href="#">
      <mat-icon>star_border</mat-icon>
      <label for="Em Destaque">Em Destaque</label>
    </a>
  </li>
  <li class="destaques__categorias___item">
    <a class="destaques__categorias___link" href="#">
      <mat-icon>notifications_none</mat-icon>
      <label for="Lançamentos">Lançamentos</label>
    </a>
  </li>
</ul>
