.destaques__categorias___lista {
  margin: 0;
  background: #fdfdfd;

  font-family: Arial, Helvetica, sans-serif;


  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 100%;

  .destaques__categorias___item {
    align-items: center;
    border-left: 5px solid transparent;
    color: #333333;
    display: flex;
    padding: 1rem;
    width: 50%;
  }

  .destaques__categorias___item:nth-child(1){
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .destaques__categorias___item:nth-child(2){
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

  .destaques__categorias___item:nth-child(3){
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }

  .destaques__categorias___item:nth-child(4){
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }

  .destaques__categorias___link{
    display: flex;
    align-items: center;
    gap: .5rem;

    color: inherit;
  }
}
