<ul class="destaques__categorias___lista">
  <li class="destaques__categorias___item">
    <a class="destaques__categorias___link" href="#">
      <i class="destaques__categorias___icone fab fa-buromobelexperte"></i>
      Aplicativos populares
    </a>
  </li>
  <li class="destaques__categorias___item">
    <a class="destaques__categorias___link" href="#">
      <i class="fas fa-list-ol"></i>
      Jogos populares
    </a>
  </li>
  <li class="destaques__categorias___item">
    <a class="destaques__categorias___link" href="#">
      <i class="far fa-star"></i>
      Em Destaque
    </a>
  </li>
  <li class="destaques__categorias___item">
    <a class="destaques__categorias___link" href="#">
      <i class="far fa-bell"></i>
      Lançamentos
    </a>
  </li>
</ul>
