<nav class="menu">
  <ul class="menu__lista">
      <li class="menu__item">
          <a class="menu__link ativo" href="#">
            <mat-icon aria-hidden="false" aria-label="home">home</mat-icon>
            <label for="">Início</label>
          </a>
          <a class="menu__link" href="#">
              <mat-icon>phone_iphone</mat-icon>
              Aplicativos</a>
          <a class="menu__link" href="#">
              <mat-icon>sports_esports</mat-icon>
              Jogos
          </a>
      </li>
  </ul>
</nav>
